.form-field {
  margin: 10px 0;
}

.fieldset {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: block;
}

.clearMarginBottom {
  margin-bottom: 0;
}

.clearPadding {
  padding-right: 0;
  padding-left: 0;
}
